body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #fff;
}

div {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  top: 0px;
  left: 0px;
  right: 0px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: left;
  margin: 0px;
}

.container {
  margin: auto;
  width: 1280px;
  height: 720px;
}

.header {
  top: 5px;
  left: 0px;
  right: 0px;
  border-style: none;
  margin-bottom: 10px;
}

.content {
  position: relative;
}

.leftcolumn {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 760px;
  height: 630px;
  margin: 5px;
  border-style: solid;
  border-width: 5px;
}

.rightcolumn {
  position: absolute;
  left: 780px;
  top: 0px;
  width: 480px;
  height: 630px;
  margin: 5px;
  border-style: solid;
  border-width: 5px;
}

.leftchartcontainer {
  position: relative;
  top: 0px;
  height: 310px;
  width: 100%;
}

.amchart {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
}

#barchart {
  height: 620px;
}

.charttitle {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  z-index: 20;
}
